<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moviedicoding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.example.moviedicoding.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.moviedicoding.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SettingActivity"
            android:label="Movie Setting"
            android:parentActivityName=".activity.MainActivity"/>

        <provider
            android:name=".provider.FavoriteMovieProvider"
            android:authorities="com.example.moviedicoding"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.example.moviedicoding.READ_DATABASE"
            android:writePermission="com.example.moviedicoding.WRITE_DATABASE" />

        <receiver android:name=".widget.MovieStackWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movie_stack_widget_info" />
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:label="Movie List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailMovieActivity"
            android:label="Movie Detail"
            android:parentActivityName=".activity.MainActivity" />

        <receiver android:name=".widget.MovieStackWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movie_stack_widget_info" />
        </receiver>

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".notification.DailyAlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".notification.NewRealeaseReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>